body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.jwl_one_half {
  position: relative;
  margin-right: 4%;
  float: left;
  width: 48%;
}
.last {
  margin-right: 0 !important;
  clear: right;
}
.article1 {
  margin-top: 15%;
}
.area {
  width: 600px;
  height: 120px;
  border: 3px solid #ccc;
  padding: 5px;
}
input {
  width: 600px;
  border: 3px solid #ccc;
  padding: 5px;
}
